header, nav, main, footer {
    max-width: 60rem;
    margin: auto;
}

.hero {
    p {
        top: 44%;
        font-size: 2.5rem;
    }
}

.allCards {

    section {
        flex-basis: calc(25% - (($gutter*3)/4));
    }
}